.logo{
    display: block;
}
.secondary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 300px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
}