:root{
    /* Colores */
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,240px); /* Le indica a la web que se generen las columnas necesarias con ese tamaño */
    gap: 26px;
    place-content: center;
}
.product-card{
    width: 240px;
}
.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover; /*Me permite solo mostrar una parte de la imagen y que no se distorsione*/
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure{
    margin: 0;
}
.product-info figure img{
    width: 35px;
    height: 35px;
}
.product-info div p:nth-child(1){ /* Aca le decimos que solo tome el primer parrafo que este dentro del div */
     font-weight: bold;
     font-size: var(--md);
     margin-bottom: 4px;
}
.product-info div p:nth-child(2){ /* Aca le decimos que solo tome el primer parrafo que este dentro del div */
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}